@model samStore.Models.OrderContainerModel

@{
    ViewBag.Title = "Profile";
}

<h3>Your Completed Orders</h3>
<table class="table">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Orders.Reverse())
    {
        <tr>
            <td>@item.Order.Id</td>
            <td>@item.Order.EmailUsed</td>

        </tr>

        foreach (var product in @item.Order.Products)
        {
            <tr>
                <td>@product.Product.ProductName</td>
                <td>@product.Product.ProductPrice.ToString("C")</td>
               
            </tr>
             }
         }
    </tbody>
</table>

