@model samStore.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    @Html.LabelFor(x => x.NewPassword)
    @Html.TextBoxFor(x => x.NewPassword)
    @Html.ValidationMessageFor(x => x.NewPassword)

    @Html.LabelFor(x => x.ConfirmPassword)
    @Html.TextBoxFor(x => x.ConfirmPassword)
    @Html.ValidationMessageFor(x => x.ConfirmPassword)


    <input type="button" value="ResetPassword" onclick="location.href='@Url.Action("ResetPassword", "Account", new { code = Model.Code, email = Model.EmailAddress, NewPassword = Model.NewPassword})'" />
}

